
/* header */
.e132_335 { 
	background-color:rgba(208.0000028014183, 255, 192.00000375509262, 1);
	width:1440px;
	height:68px;
	position:absolute;
}

.e132_340 { 
	background-color:rgba(208.1395161151886, 255, 191.67502999305725, 1);
	width:100%;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
}

/* search */
.e132_346 { 
	background-color:rgba(255, 255, 255, 1);
	width:544px;
	height:40px;
	position:absolute;
	left:35%;
	top:12px;
}

.e132_346 { 
	border:1px solid rgba(90.00000223517418, 90.00000223517418, 95.00000193715096, 1);
}
.e132_355 { 
	color:rgba(90.00000223517418, 90.00000223517418, 95.00000193715096, 1);
	width:66px;
	height:27px;
	position:absolute;
	left:48px;
	top:7px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:2;
	line-height:px;
}
.e132_356 { 
	width:32px;
	height:32px;
	position:absolute;
	left:1206px;
	top:980px;
}


.e132_357 { 
	box-shadow:0px 0px 12px rgba(0, 0, 0, 0.20000000298023224);
	background-color:rgba(255, 255, 255, 1);
	width:259px;
	height:890px;
	position:absolute;
	left:0px;
	top:64px;
}
.e132_396 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:240px;
	height:1px;
	position:absolute;
	left:0px;
	top:260px;
}


.Home { 
	color:rgba(90.00000223517418, 90.00000223517418, 95.00000193715096, 1);
	width:113.3125px;
	height:27.15254020690918px;
	position:absolute;
	left:77.69999694824219px;
	top:18.101694107055664px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:2;
	line-height:px;
    cursor: pointer;
}

.fixhome {
    color: #5A5A5F;
    position: absolute;
    left: 13.33%;
    right: 76.67%;
    top: 2.26%;
    bottom: 95.03%;    
    cursor: pointer;
}

.Mani { 
	color:rgba(90.00000223517418, 90.00000223517418, 95.00000193715096, 1);
	width:131px;
	height:28px;
	position:absolute;
	left:78px;
	top:66px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:2;
	line-height:px;
    cursor: pointer;
}
.fixMani {
    color: #5A5A5F;
    position: absolute;
    left: 13.51%;
    right: 77.22%;
    top: 7.75%;
    bottom: 89.44%;
    cursor: pointer;
}
.pro { 
	color:rgba(90.00000223517418, 90.00000223517418, 95.00000193715096, 1);
	width:62.59166717529297px;
	height:27.15254020690918px;
	position:absolute;
	left:77.69999694824219px;
	top:286.61016845703125px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:2;
	line-height:px;
    cursor: pointer;
}

.fixuser{
    color: #5A5A5F;
    position: absolute;
    left: 13.51%;
    right: 77.22%;
    top: 32.46%;
    bottom: 89.44%;
    cursor: pointer;
}

.assignment { 
	color:rgba(90.00000223517418, 90.00000223517418, 95.00000193715096, 1);
	width:174.8249969482422px;
	height:27.3378849029541px;
	position:absolute;
	left:77.69999694824219px;
	top:114.41410827636719px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:2;
	line-height:px;
    cursor: pointer;
}

.fixas{
    color: #5A5A5F;
    position: absolute;
    left: 13.51%;
    right: 77.22%;
    top: 12.87%;
    bottom: 89.44%;
    cursor: pointer;
}

.noti { 
	color:rgba(90.00000223517418, 90.00000223517418, 95.00000193715096, 1);
	width:117.62916564941406px;
	height:27.15254020690918px;
	position:absolute;
	left:77.69999694824219px;
	top:334.88134765625px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:2;
	line-height:px;
    cursor: pointer;
}

.fixnoti {
    color: #5A5A5F;
    position: absolute;
    left: 13.51%;
    right: 77.22%;
    top: 37.87%;
    bottom: 89.44%;
    cursor: pointer;    
}

.set { 
	color:rgba(90.00000223517418, 90.00000223517418, 95.00000193715096, 1);
	width:72.30416870117188px;
	height:27.15254020690918px;
	position:absolute;
	left:77.69999694824219px;
	top:383.1525573730469px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:2;
	line-height:px;
    cursor: pointer;
}

.fixgear {
    color: #5A5A5F;
    position: absolute;
    left: 13.51%;
    right: 77.22%;
    top: 43.25%;
    bottom: 89.44%;
    cursor: pointer;    
}

.sort { 
	color:rgba(90.00000223517418, 90.00000223517418, 95.00000193715096, 1);
	width:66.90833282470703px;
	height:27.15254020690918px;
	position:absolute;
	left:77.69999694824219px;
	top:162.91526794433594px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:2;
	line-height:px;
    cursor: pointer; 
}

.fixlist {
    color: #5A5A5F;
    position: absolute;
    left: 13.51%;
    right: 77.22%;
    top: 18.57%;
    bottom: 89.44%;
    cursor: pointer;
}

.faq { 
	color:rgba(90.00000223517418, 90.00000223517418, 95.00000193715096, 1);
	width:39.92916488647461px;
	height:27.15254020690918px;
	position:absolute;
	left:77.69999694824219px;
	top:431.4237365722656px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:2;
	line-height:px;
    cursor: pointer;
}

.fixfaq {
    color: #5A5A5F;
    position: absolute;
    left: 13.51%;
    right: 77.22%;
    top: 48.67%;
    bottom: 89.44%;
    cursor: pointer;   
}

.xe { 
	color:rgba(90.00000223517418, 90.00000223517418, 95.00000193715096, 1);
	width:145px;
	height:27px;
	position:absolute;
	left:78px;
	top:211px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:2;
	line-height:px;
    cursor: pointer;
}

.fixtruck {
    color: #5A5A5F;
    position: absolute;
    left: 13.51%;
    right: 77.22%;
    top: 24.01%;
    bottom: 89.44%;
    cursor: pointer;    
}

.logout { 
	color:rgba(90.00000223517418, 90.00000223517418, 95.00000193715096, 1);
	width:69.06666564941406px;
	height:27.15254020690918px;
	position:absolute;
	left:77.69999694824219px;
	top:479.6949157714844px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:2;
	line-height:px;
    cursor: pointer;
}

.fixlogout {
    color: #5A5A5F;
    position: absolute;
    left: 13.51%;
    right: 77.22%;
    top: 54.25%;
    bottom: 89.44%;
    cursor: pointer;       
}

.e132_424 { 
	width:165px;
	height:131px;
	position:absolute;
	left:259px;
	top:58px;
}
.e132_425 { 
	width:120px;
	height:111.57894897460938px;
	position:absolute;
	left:259px;
	top:-17px;
}

.footer {
    position: absolute;
    width: 100%;
    height: 68px;
    left: 0px;
    top: 954px;
    
    background: #D0FFC0;    
}

.fixsearch {
    color: #5A5A5F;
    position: absolute;
    left: 5%;
    right: 29%;
    top: 25%;
    bottom: 33.12%;	
}

.fixX {
	color: #5A5A5F;
    position: absolute;
    left: 95%;
    right: 29%;
    top: 25%;
    bottom: 33.12%;
}

.boxslide {
	position: absolute;
	width: 1180px;
	height: 889px;
	left: 400px;
	top: 105px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.deleteJC {
	padding-left: 70%;
	cursor: pointer;
}

.ChangeJC {
	padding-left: 70%;
	cursor: pointer;	
}

.space {
	padding-bottom: 35px;
	padding-top: 20px;
}

#Collector {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

#Collector td, #Collector th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Collector tr:nth-child(even){background-color: #f2f2f2;}

#Collector tr:hover {background-color: #ddd;}

#Collector th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.boxslideJC1 {
	position: absolute;
	width: 574px;
	height: 890px;
	left: 21%;
	top: 10%;	
}

.boxslideJC2 {
	position: absolute;
	width: 574px;
	height: 890px;
	left: 63%;
	top: 10%;	
	
}


.boxslideJC1 select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 50px;
	margin-top: 20px;
}

.boxslideJC11 button { 
    padding: 5px 10px;
    margin-bottom: 20px;
    background-color: #04AA6D;
    color: #fff;
    cursor: pointer;
}

.boxslideJC11 {
	position: absolute;
	width: 574px;
	height: 49px;
	left: 160px;
	top: 175px;
}

button { 
    padding: 5px 10px;
    margin-bottom: 20x;
    background-color: #04AA6D;
    color: #fff;
    cursor: pointer;
}

.controls .normal {
    float: right
}



.wrapper {
  position: absolute;
  width: 400px;
  height: auto;
  top: 380px;
  left:	340px;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 10px 40px 0px rgba(47,47,47,.1);
}

input[type="text"]{
  padding: 10px;
  margin: 10px auto;
  display: block;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background: none;
  width: 274px;
  color: black;
}

input[type="text"]:focus {
  outline: none;
}

.controls {
  width: 294px;
  margin: 15px auto;
}

#remove_fields {
  padding-left: 60px;
}
.controls a i.fa-minus {
  margin-right: 5px;
}

a {
  color: black;
  text-decoration: none;
}

/* h1 {
  text-align: center;
  font-size: 48px;
  color: #232c3d;
} */